.FormContainer {
  margin: 10px 55px 30px;
  padding: 17px;
  border: 2px dotted black;
  border-radius: 3px;
}

.ReachOut {
  text-align: center;
  font-weight: 450;
  font-size: 20px;
}

.Label {
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 500;
}

.Input {
  margin-bottom: 10px;
}

.Socials {
  text-align: center;
}

.SocialImage {
  height: 75px;
  width: 75px;
}

.Figure {
  margin: 20px 75px 30px;
}

.Caption {
  padding-top: 7px;
  font-weight: 500;
}

.Caption:hover {
  font-weight: 400;
}

@media (max-width: 900px) {
  .Figure {
    margin: 5px 30px 20px;
  }
}
