.OpenSourced {
  padding-top: 5px;
  padding-bottom: 20px;
  font-weight: 450;
}

.footerContainer {
  background-color: rgba(0, 128, 0, 0.405);
  border-top: 2px dotted black;
  text-align: center;
  padding: 20px;
  margin: 0px;
}
