.NavContainer {
  margin: 0px;
  padding: 7px;
  line-height: 40px;
}

.Name {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.NavItem {
  color: black;
  text-decoration: none;
  padding-left: 17px;
}

@media (max-width: 768px) {
  .Name,
  .NavItem {
    padding: 7px;
    line-height: 20px;
  }
  .Name {
    margin-left: 15px;
  }
  .NavContainer {
    max-width: 100%;
    line-height: 40px;
  }
  .NavbarToggle {
    margin: 10px 27px;
  }
  #basic-navbar-nav {
    margin-left: 35px;
  }
}
