.Header {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  border: 2px dotted black;
}

.font-loader {
  font-family: "Pixelify Sans";
  font-size: 57px;
  padding: 0px;
}

.Howdy {
  text-align: center;
  padding: 25px;
  margin: 20px;
  border: 2px dotted black;
  border-radius: 5px;
}

.AlmostFooter {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.PageLink {
  margin: 10px;
  text-decoration: none;
  color: #5296a5;
}

.PageLink:hover {
  color: #2f555e;
}
